* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
}
body {
	background-color: #fff;
	font-family: sans-serif;
	overflow: hidden;
}
h1 {
	font-weight: normal;
	font-size: 140%;
}
.top-matter {
	width: 70%;
	padding: 0 10px;
}
#blocklyArea {
	/*height: calc(100vh - 112px);*/
	width: 70%;
	float: left;
}
#js-output {
	width: 30%;
	height: 100vh;
	position: absolute;
	right: 0;
	top: 0;
}
#js-output pre {
	margin: 0;
	padding: 5px;
	overflow: scroll;
}
#js-output .code {
	height: calc(50% - 3vh);
	background-color: #ccc;
}
#js-output .console {
	height: calc(50% - 3vh);
	background-color: #ddd;
}
.button-label {
	font-family: monospace;
}
.run-js, .clear-console {
	/*float:left;*/
	display: inline-block;
	width: 50%;
	font-family: 'Passion One', sans-serif;
	border: 2px solid black;
	background-color: #fff;
	color: #000;
	transition: all 250ms ease;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 1em;
	padding: calc(3vh - .5em) 0;
}
.run-js:hover, .clear-console:hover,
.run-js:active, .clear-console:active {
	background-color: #ddd;
}
/*.clear-console:after {
	content: "";
	display: table;
	clear: both;
}*/